.contenedor{
  border: 1px solid blue;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  padding: 10px;
}
.titulo{
  border: 1px solid green;
  text-align: center;
}
.registro{
  border: 1px solid red;
}